# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/

# FAISS vector database
vectorstore/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
node_modules
